body {
    text-align: center;
  }
  
  .calculator {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .calculator input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .calculator button {
    width: 50px;
    height: 30px;
    margin: 2px;
  }
  #result{
      width: 200px;
  }
.unique{
    background-color: rgb(172, 170, 170);
}
#clear{
    background-color: rgb(88, 88, 206);
}
